  <!-- ======= Header ======= -->
    <header id="header" class="fixed-top">
        <div class="container d-flex align-items-center">

            <h1 class="logo me-auto"><a href="/hb">Assamblea Genitori Vezia</a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            {{!-- <a href="/hb" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a> --}}

            <nav id="navbar" class="navbar order-last order-lg-0">
                <ul>
                    <li><a class="{{headerClass.home}}" href="/hb">Home</a></li>
                    <li><a class="{{headerClass.comitato}}" href="/hb/comitato">Comitato</a></li>
                    <li><a class="{{headerClass.corsi}}" href="/hb/corsi">Corsi</a></li>
                    <li><a class="{{headerClass.eventi}}" href="/hb/eventi">Eventi</a></li>
                    <li><a class="{{headerClass.link_utili}}" href="/hb/linkutili">Link Utili</a></li>
                    <li><a class="{{headerClass.contatto}}" href="/hb/contatto">Contatto</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->

        </div>
    </header><!-- End Header -->